.App {
	background-image: url('../../assets/mobile//bg-image-daytime.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgb(160, 160, 160);
	min-height: 100vh;
	background-blend-mode: multiply;
}
